@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StudentAutomation.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <!-- Ana menü -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                Öğrenciler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teachers">
                Öğretmenler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courses">
                Dersler
            </NavLink>
        </div>

        <hr class="my-2" />

        <!-- Kullanıcı durumuna göre -->
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/profile">
                        Profilim
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-danger" href="/auth/logout">
                        Çıkış Yap
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auth/login">
                        Giriş Yap
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auth/register">
                        Kayıt Ol
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
